#home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vw;
  height: 100vh;
  width: 100vw;
  font-family: Roboto Slab;
}

#home-column {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100%;
}

#home-image {
  height: 50vh !important;
  margin-left: 2vw;
  width: auto;
  box-shadow: 0.6vw 0 0 0 var(--green), 1.4vw 0 0 0 #2d5828, 2.2vw 0 0 0 #273038;
  border-radius: 50%;
  margin-right: 6vw;
  margin-top: 3vh;
}

#details-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: left;
}

#home-name,
#home-title {
  color: var(--green);
}

h4 {
  font-size: 1.5rem !important;
  line-height: 1;
}

h3 {
  font-size: 1.75rem !important;
}

#resume-button-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2vh;
}

#resume-button {
  display: flex;
  align-items: center;
  outline: none;
  width: fit-content;
  font-size: 0.9em;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 14px;
  color: rgb(15, 25, 34);
  background-color: white;
  height: 48px;
  transition-property: all;
  transition-duration: 0.3s;
}

#resume-button:hover {
  color: white;
  background-color: transparent;
  border-color: var(--green);
}

#view-button {
  color: white;
  position: absolute;
  top: 11vh;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
#download-button {
  color: white;
  position: absolute;
  top: 15vh;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

#view-button:hover,
#download-button:hover {
  text-decoration: underline;
}

#navLink:hover {
  text-decoration: none;
}

#mobile-resume-button-container {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#mobile-resume-button {
  align-self: auto;
}

#mobile-resume-button {
    display: flex;
    align-items: center;
    gap: 1vh;
    font-size: 1.25em;
    width: fit-content;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 16px;
    color: rgb(15, 25, 34);
    background-color: white;
    height: 48px;
    margin: 0.6vh;
  }

  #mobile-socials {
   display: flex;
  }

  .mobile-icon {
    color: var(--green);
    height: auto;
    margin: 0.2vw 1vw 0;
    padding: 0.4vw;
    width: 14vw;
  }

@media screen and (max-width: 480px) {
  #home-column {
    flex-direction: column;
    align-items: center;
    text-align-last: center;
  }

  #resume-button-container {
    display: none;
  }

  #home-page {
    align-items: start;
  }

  #home-image {
    max-width: 80%;
    height: auto !important;
    margin: 0;
  }

  h3 {
    font-size: 1.70rem !important;
  }

  #details-container {
    align-items: center;
    padding-top: 2vh;
    justify-content: center;
    text-align: center;
  }

  h4 {
    font-size: 1.25rem !important;
    display: inline;
    text-align: center;
    width: 100%;
  }

  #mobile-resume-button-container {
    display: flex;
  }
}
