#navbar {
  background-color: rgb(15, 25, 34);
  min-height: 6vh;
  height: fit-content;
  width: 98%;
  opacity: 0.92;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 2vh;
  position: fixed;
  justify-content: space-between;
  vertical-align: middle;
  top: 0px;
  z-index: 100;
  text-transform: uppercase;
  align-items: center;
}

#navbar-name {
  display: flex;
  padding-left: 8vw;
  font-size: large;
}

#navbar-links {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  padding-right: 6vw;
}

.nav-link:hover {
  text-decoration: underline;
}

#navbar-socials {
  display: flex;
  gap: 0px;
  min-width: 8vw;
  min-height: 4vh;
  align-items: center;
}

.icon {
  flex-basis: content;
  height: 6vh;
  margin-right: 1.5vw;
  min-width: 2vw;
  width: auto;
  color: var(--green)
}

#mobile-navbar {
    display: none;
    background-color: #464646;
    border-radius: 2em;
    bottom: 0;
    flex-direction: row;
    height: 8vh;
    justify-content: center;
    margin: 0 0 2vh;
    opacity: .94;
    padding: 0;
    position: fixed;
    vertical-align: middle;
    width: 70vw;
    z-index: 1;
    align-items: center;
}

.active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media screen and (max-width: 480px) {
  #navbar {
    display: none;
  }
  #mobile-navbar {
    display: flex
  }
  .app-container {
    flex-direction: column;
  }
}